.placed {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	text-align: center;
	width: 100%;
}

.placed h1, p {
	margin: 0
}

.desc {
  color: #797979;
}

.placed img {
	width: 200px;
	animation: carDrive 1s linear infinite;
}

@keyframes carDrive {
	0% {
		transform: translateY(0%);
	}

	25% {
		transform: translateX(-2%);
	}

	50% {
		transform: translateX(0%);
	}

	75% {
		transform: translateX(2%);
	}

	100% {
		transform: translateX(0%);
	}
}

@media screen and (max-width: 700px) {
	.placed svg {
		font-size: 12em;
	}
}

@media screen and (max-width: 414px) {
	.placed svg {
		font-size: 6em;
	}
}