.Products {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap
}

.ProductItem {
	text-align: center;
	border-radius: 10px;
	width: 25%;
	margin: 0;
	min-height: 500px;
	padding: 0 10px;
	margin-bottom: 30px
}

.ProductItem > div {
	height: 55%
}

.ProductItem img {
	position: relative;
	top: 0;
	width: 100%;
	max-width: 260px;
	border-radius: 10px;
	transition: top 150ms ease-out 0s
}

.ProductItem img:hover {
	top: 3px;
}

.ProductContent {
	padding: 10px 5px;
	text-align: left;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: 45%
}

.ProductItem h2 {
	font-size: 20px
}

.Brand {
	color: #797979;
}

.Price {
	font-weight: 700
}

.Price span {
	color: #d15747
}

.Description {
	color: rgb(115, 121, 140)
}

.Bottom {
	display: flex;
	align-items: center;
	justify-content: space-between
}

@media screen and (max-width: 1199px) {
	.ProductItem {
		width: 33%
	}
}

@media screen and (max-width: 900px) {
	.ProductItem {
		width: 50%
	}
	.ProductContent {
		text-align: center
	}
	.Bottom {
		justify-content: space-around
	}
}

@media screen and (max-width: 600px) {
	h1, h2 {
		text-align: center;
	}
	.ProductItem {
		width: 100%;
		min-height: auto;
	}
	.ProductItem > div {
		height: auto;
	}
	.ProductItem  img {
		max-width: 200px;
	}
	.Description {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 414px) {
	.Products {
		justify-content: center;
	}
}