.mainHeader {
	position: fixed;
	z-index: 20;
	left: 0;
	top: 0;
	background-color: #fff;
	width: 100%;
	height: 70px;
}

.headerContent {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.left, .right {
	display: flex;
	align-items: center
}

.right {
	justify-content: inherit;
}

.lng button {
	border-radius: 8px;
	padding: 0 10px
}

.logo a {
	color: #007eff;
	font-size: 2.5em;
	font-weight: 900;
	text-transform: uppercase;
	width: 40px;
	height: 40px;
	display: inline-block
}

.logo span {
	font-weight: 100;
	color: #000;
}

.logo img {
	width: 100%;
	height: 100%;
}

.topMenu ul li {
	display: inline-block;
	margin: 0 10px;
}

.topMenu a {
	text-transform: uppercase;
	color: #000;
	font-weight: 600;
	transition: all 0.2s linear;
	border-bottom: 2px solid transparent;
	font-size: 18px;
}

.topMenu a:hover {
	color: rgb(209, 87, 0)
}

.headerContent form {
	position: relative;
	width: 250px;
	border: 1px solid #ccc;
	border-radius: 20px;
	display: flex;
	align-items: center;
	overflow: hidden;
	padding: 5px 5px 5px 10px
}

.headerContent form svg {
	color: gray;
	height: auto;
	flex-shrink: unset;
	width: .8em;
}

.headerContent input {
	outline: none;
	border: 0;
	width: 100%;
	padding: 0;
	font-size: 1em;
	margin-left: 5px;
}

.headerContent input:focus::placeholder {
	color: transparent;
}

.cart {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.cart a {
	padding: 8px 20px;
	background-color: rgb(255, 105, 0);
	color: rgb(255, 255, 255);

	display: flex;
	align-items: center;

	border-radius: 9999px;
	font-weight: 600;
	user-select: none;
	transition-property: background-color, color;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
}

.cart a:hover {
	background-color: rgb(232, 97, 0);
	color: rgb(255, 255, 255);
}

.divider {
	height: 24px;
	width: 1px;
	margin: 0px 12px;
	background: rgb(255, 255, 255);
	opacity: 0.4;
}

.avatar {
	width: 50px;
	border-radius: 50%;
	border: 3px solid #ccc;
	padding: 2px
}

.headerContent button {
	margin-right: 20px;
}

@media screen and (max-width: 991px) {
	.topMenu ul {
		text-align: center;
		padding: 0;
	}
}

@media screen and (max-width: 900px) {
	.mainHeader {
		height: 120px;
	}
	.left {
		flex-flow: column;
	}
	.cart {
		padding: 5px 0;
	}
	.headerContent h1, .headerContent h2 {
		font-size: 1.8em;
	}
}

@media screen and (max-width: 830px) {
	.mainHeader .container {
		padding: 0;
	}
	.mainHeader {
		height: 80px;
	}
	.headerContent {
		align-items: center;
		padding: 10px 20px;
		justify-content: space-around;
	}
	.left {
		display: none;
	}
	.topMenu {
		display: block;
		margin: 10px;
	}
	.topMenu ul li {
		display: block;
		margin: 10px;
	}
	.topMenu a {
		font-size: 20px;
		letter-spacing: 2px;
	}
	.logo {
		margin-bottom: 5px;
	}
	.headerContent h1, .headerContent h2 {
		text-align: center;
	}
	.headerContentform input {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 414px) {
	.headerContent form {
		max-width: 200px;
	}
	.headerContent input {
		font-size: .9em;
	}
	.headerContent h1, .headerContent h2 {
		font-size: 1.2em;
	}
}