.MainHeader {
	position: fixed;
	z-index: 20;
	left: 0;
	top: 0;
	background-color: #fff;
	width: 100%;
	height: 70px;
}

.HeaderContent {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.Left, .Right {
	display: flex;
	align-items: center
}

.Right {
	justify-content: inherit;
}

.Hamb {
	display: none;
	cursor: pointer;
}

.Bar1, .Bar2, .Bar3 {
	width: 30px;
	height: 4px;
	background-color: #333;
	margin: 4px 0;
	transition: 0.4s;
}

.MobileMenu {
	height: 100vh;
	width: 280px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	background-color: white;
	text-align: center;
	padding: 40px 10px;
	transform: translateX(-100%);
	transition: transform .2s ease-out;
}

.ShowMobileMenu {
	box-shadow: 1px 1px 5px #000;
	transform: translateX(0%);
}

.MobileMenu>div>svg {
	color: black;
	font-size: 26px;
	position: absolute;
	top: 1%;
	right: 3%;
	cursor: pointer;
	transition: color .2s;
}

.MobileMenu>div>svg:hover {
	color: #007eff;
}

.MobileMenu button {
	width: 100%;
	margin: 0;
}

.MobileMenu ul li:first-of-type {
	border-bottom: 2px solid black;
}

.Logo a {
	color: #007eff;
	font-size: 2.5em;
	font-weight: 900;
	text-transform: uppercase;
	width: 40px;
	height: 40px;
	display: inline-block
}

.Logo span {
	font-weight: 100;
	color: #000;
}

.Logo img {
	width: 100%;
	height: 100%;
}

.TopMenu ul li {
	display: inline-block;
	margin: 0 10px;
}

.TopMenu a {
	text-transform: uppercase;
	color: #000;
	font-weight: 600;
	transition: all 0.2s linear;
	border-bottom: 2px solid transparent;
	font-size: 18px;
}

.TopMenu a:hover {
	color: rgb(209, 87, 0)
}

.HeaderContent form {
	position: relative;
	width: 250px;
	border: 1px solid #ccc;
	border-radius: 20px;
	display: flex;
	align-items: center;
	overflow: hidden;
	padding: 5px 5px 5px 10px
}

.HeaderContent form svg {
	color: gray;
	height: auto;
	flex-shrink: unset;
	width: .8em;
}

.HeaderContent input {
	outline: none;
	border: 0;
	width: 100%;
	padding: 0;
	font-size: 1em;
	margin-left: 5px;
}

.HeaderContent input:focus::placeholder {
	color: transparent;
}

.Cart {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.Cart a {
	padding: 8px 20px;
	background-color: rgb(255, 105, 0);
	color: rgb(255, 255, 255);

	display: flex;
	align-items: center;

	border-radius: 9999px;
	font-weight: 600;
	user-select: none;
	transition-property: background-color, color;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
}

.Cart a:hover {
	background-color: rgb(232, 97, 0);
	color: rgb(255, 255, 255);
}

.Divider {
	height: 24px;
	width: 1px;
	margin: 0px 12px;
	background: rgb(255, 255, 255);
	opacity: 0.4;
}

.Avatar {
	width: 50px;
	border-radius: 50%;
	border: 3px solid #ccc;
	padding: 2px
}

.HeaderContent button {
	margin-right: 20px;
}

@media screen and (max-width: 900px) {
	.MainHeader {
		height: 120px;
	}
	.Left {
		flex-flow: column;
	}
	.TopMenu ul {
		text-align: center;
		padding: 0;
	}
	.Cart {
		padding: 5px 0;
	}
	.HeaderContent h1, .HeaderContent h2 {
		font-size: 1.8em;
	}
}

@media screen and (max-width: 830px) {
	.MainHeader .container {
		padding: 0;
	}
	.MainHeader {
		height: 80px;
	}
	.HeaderContent {
		align-items: center;
		padding: 10px 20px;
		justify-content: space-around;
	}
	.Hamb {
		display: block;
	}
	.Left {
		display: none;
	}
	.TopMenu {
		display: block;
		margin: 10px;
	}
	.TopMenu ul li {
		display: block;
		margin: 10px;
	}
	.TopMenu a {
		font-size: 20px;
		letter-spacing: 2px;
	}
	.Logo {
		margin-bottom: 5px;
	}
	.HeaderContent h1, .HeaderContent h2 {
		text-align: center;
	}
	.HeaderContentform input {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 660px) {
	.Cart {
		justify-content: center
	}
}

@media screen and (max-width: 414px) {
	.HeaderContent form {
		max-width: 200px;
	}
	.HeaderContent input {
		font-size: .9em;
	}
	.HeaderContent h1, .HeaderContent h2 {
		font-size: 1.2em;
	}
}