footer {
	background-color: #393939;
	position: relative;
	width: 100%;
}

.Footer {
  display: flex;
  justify-content: space-between;
}

.Footer h3 {
	text-align: left;
	color: white;
	position: relative;
	margin: 0;
	padding-bottom: 15px;
	margin-bottom: 10px;
	font-weight: 500;
}

.Footer h3::after {
	content: " ";
	background: url('../../assets/images/footer-heading-border.jpg') bottom left repeat-x;
	min-width: 100px;
	max-width: 150px;
	height: 2px;
	left: 0;
	bottom: 0;
	position: absolute;
}

.Footer ul {
	padding: 0;
}

.Footer li + li {
	margin-top: 2px;
}

.Footer a {
	color: #a8a8a8;
	transition: all 0.2s linear;
}

.Footer a:hover {
	color: rgb(209, 87, 0)
}

@media screen and (max-width: 900px) {

	.Footer div {
		width: 40%;
	}

	.Footer {
		flex-wrap: wrap;
		justify-content: end;
	}

	.Footer h3 {
		margin-top: 10px;
	}

}

@media screen and (max-width: 600px) {

	.Footer div {
		width: 100%;
	}

}