.mainFooter {
	background-color: #393939;
	position: relative;
	width: 100%;
}

.footerContent {
  display: flex;
  justify-content: space-between;
}

.footerContent h3 {
	text-align: left;
	color: white;
	position: relative;
	margin: 0;
	padding-bottom: 15px;
	margin-bottom: 10px;
	font-weight: 500;
}

.footerContent h3::after {
	content: " ";
	background: url('../../assets/images/footer-heading-border.jpg') bottom left repeat-x;
	min-width: 100px;
	max-width: 150px;
	height: 2px;
	left: 0;
	bottom: 0;
	position: absolute;
}

.footerContent ul {
	padding: 0;
}

.footerContent li + li {
	margin-top: 2px;
}

.footerContent a {
	color: #a8a8a8;
	transition: all 0.2s linear;
}

.footerContent a:hover {
	color: rgb(209, 87, 0)
}

@media screen and (max-width: 900px) {

	.footerContent div {
		width: 40%;
	}

	.footerContent {
		flex-wrap: wrap;
	}

	.footerContent h3 {
		margin-top: 10px;
	}

}

@media screen and (max-width: 600px) {

	.footerContent div {
		width: 100%;
	}

}