.content {
	display: flex;
	justify-content: space-between;
}

.totalItems {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.leftCheck {
	width: 60%;
}

.leftCheck h2 {
	display: flex;
	align-items: center;
}

.leftCheck h2 svg {
	margin-left: 10px;
	width: 2em;
	height: 2em;
	fill: #ff6900;
}

.rightCheck {
	width: 40%;
	max-height: 155px;
	box-shadow: 5px 5px 10px #ccc;
	border-radius: 10px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

.rightCheck  h2 {
	margin: 0;
}

.orangeText {
	color: #d15700;
}

span.orangeText {
	font-weight: 600;
}

.rightCheck button {
	width: 100%;
}

.placeOrderBtn {
	margin-top: 10px;
}


@media screen and (max-width: 900px) {

	.content {
		flex-wrap: wrap;
	}

	.checkout h1, .totalItems {
		text-align: center;
	}

	.rightCheck {
		text-align: center;
	}

	.leftCheck, .rightCheck {
		width: 100%;
		display: inline-block;
	}

	.leftCheck h2 {
		justify-content: center;
	}

}

@media screen and (max-width: 600px) {
	.left {
		flex-direction: column;
		width: 100%;
	}

	.right {
		width: 100%;
		justify-content: space-around;
		margin-top: 20px;
	}
}