.Content {
	display: flex;
	justify-content: space-between;
}

.TotalItems {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.LeftCheck {
	width: 60%;
}

.RightCheck {
	width: 40%;
	max-height: 155px;
	box-shadow: 5px 5px 10px #ccc;
	border-radius: 10px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

.RightCheck  h2 {
	margin: 0;
}

.RightCheck  h2 span {
	color: #d15700;
}

.RightCheck button {
	width: 100%;
}

.Price span {
	font-weight: 600;
	color: black;
	font-size: 1.2em
}

.Item {
	box-shadow: 5px 5px 10px #ccc;
	border-radius: 10px;
	padding: 10px;
	overflow: hidden;
	width: 70%;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 0.2s
}

.ItemContent {
	display: flex;
  align-items: center;
}

.Item h4 {
	margin: 0;
}

.AmountControl {
	position: relative;
    width: 96px;
    height: 32px;
    display: flex;
    background-color: rgb(243, 243, 247);
    border-radius: 9999px;
		-webkit-box-pack: justify;
		align-items: center;
    justify-content: space-around
}


.AmountControl button:first-of-type {
	padding-bottom: 2px
}

.AmountControl button {
	margin: 0px;
    background: none;
    cursor: pointer;
    position: relative;
    border: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
		align-items: center;
		font-size: 26px;
		color: rgb(115, 121, 140);
		font-weight: 600;
		transition: .2s
}

.AmountControl div {
	position: relative;
    z-index: 1;
    height: 100%;
    color: rgb(92, 99, 112);
    font-size: 16px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
		font-weight: 500;
		font-size: 18px
}

.AmountControl button:hover { color: black }

.ItemContent img {
	width: 70px;
	margin-right: 10px;
	border-radius: 5px;
}

.Item:hover {
	background-color: #eaeaea;
}

.DeleteIcon img {
	width: 32px;
	cursor: pointer;
	transition: .2s
}

.DeleteIcon:hover img {
	transform: scale(1.05)
}

@media screen and (max-width: 900px) {

	.Content {
		flex-wrap: wrap;
	}

	.Item {
		margin: 0 auto;
		width: 90%;
		margin-bottom: 10px;
	}

	.Checkout h1, .TotalItems {
		text-align: center;
	}

	.RightCheck {
		text-align: center;
	}

	.LeftCheck, .RightCheck {
		width: 100%;
		display: inline-block;
	}

}