@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900,900i&display=swap');

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif
}

.App {
	display: flex;
	flex-direction: column;
	height: 100%;
}

main {
	margin-top: 90px;
	flex: 1 0 auto;
}

h1 {
	/* color: #fbe6d3; */
	/* text-transform: uppercase; */
	/* text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; */
	font-weight: 900;
	position: relative;
	font-size: 2em;
}

/* h1:before {
	content: attr(datatype);
	position: absolute;
	left: -6px;
	top: -2px;
	z-index: 2;
	overflow: hidden;
	color: #d15700;
	transform: translate(0.4vw, 0.3vh);
	mix-blend-mode: darken;
	width: 100%;
	text-shadow: 1px 0px 0px black, 0px 1px 0px black, 2px 1px 0px black, 1px 2px 0px black, 3px 2px 0px black, 2px 3px 0px black, 4px 3px 0px black, 3px 4px 0px black, 5px 4px 0px black, 4px 5px 0px black, 6px 5px 0px black, 5px 6px 0px black, 7px 6px 0px black;
	transition: .2s ease-in-out;
} */

/* h1:hover:before { left: -4px } */

ul {
	list-style-type: none;
	margin: 0;
}

a {
	text-decoration: none;
}

button, input {
	font-size: 16px;
	outline: unset;
	font-family: 'Raleway', sans-serif
}

button {
	border: none;
	cursor: pointer
}

.container {
	padding: 20px 10px;
	max-width: 1140px;
	margin: 0 auto
}

@media screen and (max-width: 900px) {

	main {
		margin-top: 120px;
	}

	.Container {
		padding: 10px;
	}

	h1, h2 {
		font-size: 1.8em;
	}

}

@media screen and (max-width: 768px) {

	main {
		margin-top: 80px;
	}

}

@media screen and (max-width: 700px) {

	h1, h2 {
		font-size: 	1.5em;
	}

}

@media screen and (max-width: 600px) {

	header .Container{
		padding: 5px 0;
	}

}

@media screen and (max-width: 414px) {

	h1, h2 {
		font-size: 1.2em;
	}

}
