@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:wght@300;500;600;700;800;900&display=swap');

* {
	box-sizing: border-box;
	line-height: 1.4;
}

#root {
	height: 100%;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;

	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
	display: flex;
	flex-direction: column;
	height: 100%;
}

main {
	margin-top: 90px;
	flex: 1 0 auto;
}

h1 {
	font-weight: 900;
	position: relative;
	font-size: 2em;
}

ul {
	list-style-type: none;
	margin: 0;
}

a {
	text-decoration: none;
}

button, input {
	font-size: 16px;
	outline: unset;
	font-family: 'Poppins', sans-serif
}

button {
	border: none;
	cursor: pointer;
}

.container {
	padding: 20px 10px;
	max-width: 1140px;
	margin: 0 auto;
	height: 100%;
}

@media screen and (max-width: 900px) {

	main {
		margin-top: 120px;
	}

	.container {
		padding: 10px;
	}

	h1, h2 {
		font-size: 1.8em;
	}

}

@media screen and (max-width: 768px) {

	main {
		margin-top: 80px;
	}

}

@media screen and (max-width: 700px) {

	h1, h2 {
		font-size: 	1.5em;
	}

}

@media screen and (max-width: 600px) {

	header .container{
		padding: 5px 0;
	}

}

@media screen and (max-width: 414px) {

	h1, h2 {
		font-size: 1.2em;
	}

}
