.item {
	box-shadow: 5px 5px 10px #ccc;
	border-radius: 10px;
	padding: 10px;
	overflow: hidden;
	width: 70%;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: all 0.2s
}

.itemContent {
	display: flex;
  align-items: center;
	width: 100%;
	justify-content: space-between;
}

.left {
	display: flex;
	align-items: center;
	width: 55%;
}

.right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 45%;
}

.item h4 {
	margin: 0;
}

.amountControl {
	position: relative;
    width: 96px;
    height: 32px;
    display: flex;
    background-color: rgb(243, 243, 247);
    border-radius: 9999px;
		-webkit-box-pack: justify;
		align-items: center;
    justify-content: space-around;

		transition: .2s background-color;
}

.amountControl:hover {
	background-color: rgb(255,210,179);
}


.amountControl button:first-of-type {
	padding-bottom: 2px
}

.amountControl button {
	margin: 0px;
    background: none;
    cursor: pointer;
    position: relative;
    border: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
		align-items: center;
		font-size: 26px;
		color: rgb(115, 121, 140);
		font-weight: 600;
		transition: .2s
}

.amountControl div {
	position: relative;
    z-index: 1;
    height: 100%;
    color: rgb(92, 99, 112);
    font-size: 16px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
		font-weight: 600;
		font-size: 18px
}

.amountControl button:hover { color: black }

.price span {
	font-weight: 600;
	color: black;
	font-size: 1.2em
}

.thumbnail {
	width: 70px;
	margin-right: 10px;
	border-radius: 5px;
}

.item:hover {
	background-color: #eaeaea;
}

.deleteIcon img {
	width: 32px;
	cursor: pointer;
	transition: .2s
}

.deleteIcon:hover img {
	transform: scale(1.05)
}

@media screen and (max-width: 900px) {

	.item {
		margin: 0 auto;
		width: 90%;
		margin-bottom: 10px;
	}

}

@media screen and (max-width: 600px) {
	.itemContent {
		flex-direction: column;
	}

	.left {
		flex-direction: column;
		width: 100%;
	}

	.right {
		width: 100%;
		justify-content: space-around;
		margin-top: 20px;
	}

	.thumbnail {
		margin: 0;
	}
}