.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(1, 1, 1, 0.5);
  backdrop-filter: blur(6px);
  z-index: 25
}

.loginForm {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  max-width: 300px;
  padding: 20px;
  z-index: 30;
  width: 100%
}

.loginForm img {
  position: absolute;
  width: 16px;
  top: 6px;
  right: 6px;
  cursor: pointer
}

.error {
  color: crimson;
  font-weight: 600;
  margin-top: 10px;
  text-align: center
}

.loginForm div+div {
  margin-top: 10px
}

.loginForm input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid darkgrey;
}

.loginForm input:focus, .loginForm button:focus {
  outline: 1px solid black;
}

.loginForm button {
  width: 100%;
  color: white;
  background-color: rgb(209,87,0);
}

.loginForm input:focus::placeholder {
  color: transparent
}

.errorBox {
  width: 100%
}